# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output files
*.out

# Go specific
/vendor/
/go.sum

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
